body { background-color: green}
h1 { color: red }
p { background-color: blue; 
    color: yellow;
    }
ul, ol {
  background-color: gray;
  color: white;
  font-weight: bold;
}
@media (max_width:500px){
    body{ background-color : yellow; font:red}
}

.navbar {
  display: flex;
  justify-content: space-between; /* Pushes logo to left, links to right */
  align-items: center; /* Centers items vertically */
  background-color: #333;
  padding: 15px 30px;
  font-family: Arial, sans-serif;
}
